* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.login-box {
    width: 400px;
    height: 400px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
    color: #333;
}

.textbox {
    margin-bottom: 25px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 20px;
}

.remember-me {
    text-align: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #00315d;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #196cb0;
}
