<table>
  <thead>
    <tr>
      <th><input type="checkbox" id="select-all"></th>
      <th>Name</th>
      <th>Student Id</th>
      <th>gender</th>
      <th>Department</th>
      <th>Year</th>
      <th>Total Lib Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for student in all_student %}
    <tr>
      <td><input type="checkbox" class="student-checkbox" value={{ student.student_id }}></td>
      <td class="clickable" onclick="openStudentProfilePage('{{ student.student_id }}')">{{ student.fullname }}</td>
      <td>{{ student.student_id }}</td>
      <td>{{ student.gender }}</td>
      <td>{{ student.department }}</td>
      <td>{{ student.year }}</td/>
      <td>{{ student.total_library_time }}</td>
      <td class="action-links">
	<button class="view-btn" onclick="openStudentProfilePage('{{ student.student_id }}')">View</button>
	<button class="edit-btn" onclick="openUpdatePage('{{ student.student_id }}')">Edit</button>
	<button class="delete-btn" id="delete-btn" value="{{ student.student_id }}" onclick="deleteStudent({{ student.student_id }})">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

