{% extends "base.html" %}

{% block content %}
<section id="interface">
      <div class="navigation">
        <h1>All Student</h1>
      </div>

    <!--Not Varified-->
      <div class="body">
        <div class="search">
          <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
          </div>
        </div>

        <div class="action-button">
          
        </div>
        <div class="lists"></div>
      </div>
    <!--Not Varified-->

</section>
{% endblock %}