{% extends "base.html" %}

{% block content %}

<section id="interface">
      <div class="navigation">
        <div id="menu-bar">
          <i class="fa-solid fa-bars"></i>
        </div>
        <h1>All Student</h1>
      </div>

      <div class="body">
        <div class="search">
          <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
          </div>
        </div>

    <div class="std_list">
      <div class="table-controls">
        <div class="buttons">
            <button class="delete">Delete</button>
            <button class="add-new" onclick="openRegistration()">Add New Student</button>
        </div>
      </div>

      <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Student Id</th>
                <th>Department</th>
                <th>Total Lib Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td><input type="checkbox"></td>
                <td>John Doe</td>
                <td>2021001</td>
                <td>Computer Science</td>
                <td>25 hours</td>
                <td class="action-links">
                    <a href="#">View</a>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
                <td>Jane Smith</td>
                <td>2021002</td>
                <td>Mechanical Engineering</td>
                <td>15 hours</td>
                <td class="action-links">
                    <a href="#">View</a>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
                <td>Michael Johnson</td>
                <td>2021003</td>
                <td>Business Administration</td>
                <td>30 hours</td>
                <td class="action-links">
                    <a href="#">View</a>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
                <td>Emily Davis</td>
                <td>2021004</td>
                <td>Electrical Engineering</td>
                <td>22 hours</td>
                <td class="action-links">
                    <a href="#">View</a>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
                <td>David Brown</td>
                <td>2021005</td>
                <td>Chemical Engineering</td>
                <td>18 hours</td>
                <td class="action-links">
                    <a href="#">View</a>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    </section>

    <div class="registration-sidebar" id="registrationSidebar">
      <button class="close-btn" onclick="closeRegistration()">X</button>
      <h2>Student Registration</h2>
      <form action="/register_student" method="POST" enctype="multipart/form-data">
	{{ form.hidden_tag() }}

	<p>
	  {{ form.fullname.label }}
	  {{ form.fullname(size=32) }}
	  {% for error in form.fullname.errors %}
	  <span style="color: red;">{{ error }}</span>
	  {% endfor %}
	</p>

	<p>
	  {{ form.studentId.label }}
	  {{ form.studentId(size=32) }}
	  {% for error in form.studentId.errors %}
	  <span style="color: red;">{{ error }}</span>
	  {% endfor %}
	</p>

	<p>
	  {{ form.gender.label }}
	  {{ form.gender() }}
	  {% for error in form.gender.errors %}
	  <span style="color: red;">{{ error }}</span>
	  {% endfor %}
	</p>


	<p>
	  {{ form.year.label }}
	  {{ form.year() }}
	  {% for error in form.year.errors %}
	  <span style="color: red;">{{ error }}</span>
	  {% endfor %}
	</p>
	
        <p>
	  {{ form.department.label }}
	  {{ form.department() }}
	  {% for error in form.department.errors %}
	  <span style="color: red;">{{ error }}</span>
	  {% endfor %}
	</p>
	
        <p>
	  {{ form.profile_img.label }}
	  {{ form.profile_img() }}
	  {% for error in form.profile_img.errors %}
	  <span style="color: red;">{{ error }}</span>
	  {% endfor %}
	</p>
	

	<p>
	  {{ form.laptop_img1.label }}
	  {{ form.laptop_img1() }}
	  {% for error in form.laptop_img1.errors %}
	  <span style="color: red;">{{ error }}</span>
	  {% endfor %}
	</p>

	<p>
	  {{ form.laptop_img2() }}
	  {% for error in form.laptop_img2.errors %}
	  <span style="color: red;">{{ error }}</span>
	  {% endfor %}
	</p>

	<p>
	  {{ form.laptop_img3() }}
	  {% for error in form.laptop_img3.errors %}
	  <span style="color: red;">{{ error }}</span>
	  {% endfor %}
	</p>

	<p>
	  {{ form.submit(class="submit") }}
	</p>
        
      </form>
  </div>

    <script>
      const menuBar = document.getElementById('menu-bar');
      const menu = document.getElementById('menu');

      menuBar.addEventListener('click', () => {
      menu.classList.toggle('active'); 
      });

      function openRegistration() {
          document.getElementById("registrationSidebar").classList.add("open");
      }

      function closeRegistration() {
            document.getElementById("registrationSidebar").classList.remove("open");
      }

      {% if show_sidebar == True %}
      document.getElementById("registrationSidebar").classList.add("open");
      {% endif %}
    </script>


{% endblock %}
