<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Check In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib_exit.css') }}">
</head>
<body>
    <header class="header-bar">
        <div class="logo">
            <a href="/exit_check_in">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="">
            </a>
        </div>
        <div class="header-title">
            Exit Check Out 
        </div>
        <div class="logout">
            <a href="/logout" class="logout-link">Logout</a>
        </div>
    </header>
</body>
</html>
