<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-box">
        <h2>LaptopGuard</h2>
        <form action="" method="post" novalidate>
	  {{ form.hidden_tag() }}
          <div class="textbox">
	    {{ form.username(placeholder="Username") }}
	    {% for error in form.username.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {% endfor %}
          </div>
	  
          <div class="textbox">
	    {{ form.password(placeholder="Password") }}
	    {% for error in form.password.errors %}
	    <span style="color: red;">[{{ error }}]</span>
	    {% endfor %}
          </div>
          <div class="remember-me">
	    {{ form.remember_me(id="remember") }}
	    {{ form.remember_me.label(for="remember") }}
          </div>
            {{ form.Login(class="btn") }}
        </form>
		<!--
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	  </br>
	  <span style="color:red">{{ message }}</span>
	{% endfor %}
	{% endif %}
	{% endwith %}
	-->
    </div>
</body>
</html>
